@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-bg-primary: #ffffff;
  --color-bg-secondary: #f3f4f6;
  --color-text-primary: #111827;
  --color-text-secondary: #4b5563;
  --color-map-fill: #d1d5db;
  --color-map-stroke: #9ca3af;
  --color-map-hover: #60a5fa;
  --color-map-pressed: #3b82f6;
}

.dark {
  --color-bg-primary: #1f2937;
  --color-bg-secondary: #374151;
  --color-text-primary: #f9fafb;
  --color-text-secondary: #d1d5db;
  --color-map-fill: #4b5563;
  --color-map-stroke: #6b7280;
  --color-map-hover: #60a5fa;
  --color-map-pressed: #3b82f6;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-color: var(--color-bg-primary);
  color: var(--color-text-primary);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
